/* assets/global.css */
/* Заголовки */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Примените шрифт к заголовкам или другим элементам */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: 30px;
    font-family: 'Russo One', sans-serif;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.25), 0 1px rgba(0, 0, 0, 0.25), 1px 0 rgba(0, 0, 0, 0.25), 0 -1px rgba(0, 0, 0, 0.25);
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.btn {
    margin-top: 10px;
    margin-bottom: 50px;
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
    @apply transition duration-300 ease-in-out;
    width: 100px; /* Задаем фиксированную ширину кнопки */
    height: 36px; /* Задаем фиксированную высоту кнопки */
    display: inline-flex; /* Используем flex для выравнивания содержимого кнопки */
    justify-content: center; /* Выравниваем содержимое по горизонтали */
    align-items: center; /* Выравниваем содержимое по вертикали */
}

.btn:hover {
    @apply bg-blue-700;
}

.btn-disabled {
    @apply bg-gray-500 cursor-not-allowed;
}

.spinner {
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #5071c9;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#sensorChart {
    margin-left: 30px;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    border: 2px solid #53a8ec;
}
#sensorChart {
    width: 100%;
    height: 100%;
}
.task-view-container{
    margin-left: 30px;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    border: 2px solid #53a8ec;
    resize: both;
    padding: 5rem;
    overflow: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center; /* добавляем выравнивание по центру */
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px; /* добавляем отступы слева и справа */
}

li i {
    margin-right: 10px; /* добавляем отступ между значком и текстом */
}

.checkmark {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid #4caf50;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    vertical-align: middle;
}
.task-icon-container {
    width: 20px; /* Задаем ширину контейнера для иконки */
    margin-right: 10px; /* Добавляем отступ справа */
}

.check-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #53a8ec;
    border-radius: 50%;
    background-color: #53a8ec;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 9"%3E%3Cpath fill="%23fff" d="M3.702 7.844L.907 5.046a.7.7 0 0 1 0-.99l.221-.221a.7.7 0 0 1 .99 0l1.886 1.887 4.264-4.265a.7.7 0 0 1 .99 0l.221.221a.7.7 0 0 1 0 .99L4.692 7.845a.7.7 0 0 1-.99 0z"/%3E%3C/svg%3E');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.task-container {
    display: inline-block;
    margin-right: 1rem;
}
.task-details-container {
    margin-right: 20px;
    flex: 1; /* Растягиваем контейнер на всю оставшуюся ширину */
}

.status-indicator {
    text-align: center;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}


.tasks {
    display: flex;
    justify-content: space-between;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-container {
    display: flex;
    justify-content: left;
    margin-left: 30px;

}
.task-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}
.task-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.on {
    background-color: green;
}
.off {
    background-color: red;
}
.mr-2 {
    margin-right: 0.5rem;
}
.ml-6 {
    margin-left: 1.5rem;
}
.sensor-chart-time-range{
    border: 2px solid #53a8ec;
}